.main-menu__indent:nth-child(3) {
  border-top: 1px solid #eee;

  a {
    background-color: #fff !important;
    z-index: 2;

    &:hover {
      background: #f5f5f5 !important;
      z-index: 2;
    }
  }
}

.main-menu__indent:nth-child(4),
.main-menu__indent:nth-child(5),
.main-menu__indent:nth-child(6) {
  a {
    padding-left: 40px;
    &:before {
      border-bottom: 1px dashed #dee2e6;
      width: 12px;
      height: 1px;
      top: 50%;
      left: 20px;
      display: block;
      position: absolute;
      content: '';
      position: absolute;
    }
    &:after {
      border-left: 1px dashed #dee2e6;
      top: -50%;
      left: 20px;
      height: 100%;
      width: 1px;
      content: '';
        position: absolute;
    }
  }
}
