.v-toolbar {

  &__content {
    padding: $padding.base;
  }

  &__main {
    border-bottom: solid 1px rgba(0,0,0,.05);
    border-top: solid 1px rgba(0,0,0,.05);
  }
}

.utilitybar {
  border-bottom: 1px solid rgba(0,0,0,.05) !important;
}

#toolbarMenu {
  transition: top 0.2s ease-in-out;
  position: fixed !important;
  z-index: 4;
  top: 0;
}

.scrolldown__wrapper {
  position: relative;
  display: block;
  height: 112px;
}
