/* reset */
canvas {
  display: block;
  vertical-align: bottom;
}

/* particle.js container */
#particles-js {
  position:absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: linear-gradient(75deg, #150041 0%, #4e2762 100%) !important;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
