@font-face {
  font-family: 'Palanquin';
  src: url('fonts/palanquin/palanquin-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Palanquin';
  src: url('fonts/palanquin/palanquin-bold.ttf') format('truetype');
  font-weight: bold;
}


@font-face {
  font-family: 'Poppins';
  src: url('fonts/poppins/Poppins-Bold.ttf') format('truetype');
}
